@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue-white: #E3FDFD;
    --blue-light: #CBF1F5;
    --blue: #A6E3E9;
    --blue-dark: #71C9CE;
    --white: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blue);
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

#root {
    min-height: calc(100vh - 40px);
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Forms */
.form-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 10px;
}

.personal-form,
.education-form,
.experience-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.personal-form > h2,
.education-form  h2,
.experience-form  h2 {
    font-size: 1.6rem;
}

.section-toggleBtn-open,
.section-toggleBtn-closed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.chevron-container-up,
.chevron-container-down {
    transition: 0.2s transform ease;
}

.chevron-container-down {
    transform: rotate(180deg);
}

.personal-form > form,
.education-form > .form-open > form,
.experience-form > .form-open > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-closed {
    display: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container>label {
    font-size: 1.1rem;
}

.personal-form > form input,
.education-form > .form-open input,
.experience-form > .form-open input {
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
}

.personal-form > form input:focus,
.education-form > .form-open input:focus,
.experience-form > .form-open input:focus {
    border: none;
    outline: none;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 15px;
}

.cancel-btn,
.submit-btn {
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sections-created-container-open {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sections-created-container-closed {
    display: none;
}

.sections-created-container-open > button {
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.section-created {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: var(--blue-dark);
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    padding: 0 10px;
}

.section-created > p {
    margin-right: auto;
}

.section-created > button {
    height: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section-created > button:nth-of-type(2) {
    margin-left: 15px;
    background-color: #ff5c5c;;
}





/* CV */
.cv-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-light);
    gap: 50px;
    border-radius: 5px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
}

.resume-header {
    background-color: var(--blue-dark);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    border-radius: 5px 5px 0 0;
    color: var(--white);
}

.contact-info-container {
    display: flex;
    gap: 25px;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
}

.email,
.phone,
.address {
    display: flex;
    align-items: center;
    gap: 10px;
}

.email > svg,
.phone > svg,
.address > svg {
    width: 20px;
}

.resume-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.section-title {
    width: 100%;
    background-color: var(--blue-dark);
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 500;
}

.section-info-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.section-info-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-info-group:nth-child(1) {
    min-width: 100px;
}